body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

.gale {
  width: 100%;
  /* Ancho completo */
  height: 100%;
  /* Altura completa */
  object-fit: cover;
  /* Ajustar la imagen para llenar el contenedor sin deformarse */
  padding: 0;
}

.sobre:hover {
  filter: brightness(120%);
}
